{% extends "base.html" %}
{% block toparticle %}
<article class="topcontent">
				<header>
					<h2>File Uploads</h2>
				</header>

				<footer>
					<p class="post-info">All competition related files must be uploaded here.</p>
				</footer>

				<content>
					<p>
						When uploading your submission file, please ensure that your team name and the competition name is included in the name of the document.
					</p>

						{% block content %}
						<div style="padding:40px;margin:40px;border:1px solid #ccc">
    						<h1>Entry Submission:</h1>
    						<p>Note: {{user.username}}, you are submitting on behalf of {{user.userprofile.team}}.</p>
    						<form action="" method="POST" enctype="multipart/form-data">
        						{% csrf_token %} 
        						<table>
        						{{form}}
        						</table> 
        						<input type="submit" value="Submit" />
    						</form>

						</div>
						{% endblock %}

				</content>
			</article>
{% endblock toparticle %}